/* Header */
	#header {
		@include color-typography(invert);
		@include vendor('align-items', 'center');
		@include vendor('display', 'flex');
		@include vendor('flex-direction', 'column');
		@include vendor('justify-content', 'flex-end');
		@include vendor('pointer-events', 'none');
		@include vendor('user-select', 'none');
		height: 20rem;
		padding-bottom: (_size(padding) * 4);
		position: relative;
		text-align: center;
		z-index: 2;

		a{
			border-bottom: none!important;
		}

		.logo {
			@include vendor('transition', (
				'border-color #{_duration(transition)} ease-in-out',
				'color #{_duration(transition)} ease-in-out',
				'opacity 0.5s ease',
				'transform 0.5s ease',
				'visibility 0.5s'
			));
			@include vendor('pointer-events', 'auto');
			visibility: visible;
		}

		@include breakpoint('<=medium') {
			padding-bottom: 10rem;
		}

		@include breakpoint('<=small') {
			.logo img{
				width: 70%;
				margin: 0 auto;
			}
		}
	}