/* Main */

#main {
    // background-color: _palette(bg);
    position: relative;
    margin: 0 auto;
    width: calc(100% - #{_size(padding) * 2});
    max-width: _size(wrapper);
    z-index: 2;

    >section,
    article {
        @include padding((_size(padding) * 2), (_size(padding) * 2));
        border-top: solid 2px _palette(border);
        margin: 0;

        &:first-child {
            border-top: 0;
        }

        &:last-child {
            border-right: solid 2px _palette(border);
            border-bottom: solid 2px _palette(border);
        }

        &:nth-last-child(2) {
            border-bottom: solid 2px _palette(border);
        }
    }

    >aside{
        background: rgba(255,255,255,0.45);
        @include padding((_size(padding) * 2), (_size(padding) * 0.5));
        h3{
            text-align: center;
            font-size: 3rem;
        }
    }

    >footer {
        text-align: center;
    }

    >.post {
        background-color: _palette(bg);
        @include padding((_size(padding) * 4), (_size(padding) * 4));

        header {
            &.major {
                >.date {
                    margin-top: -2rem;
                }

                >h1,
                h2 {
                    font-size: 4rem;
                    line-height: 1.1;
                    margin: 0 0 _size(element-margin) 0;
                }
            }

            &.hero {
                position: relative;
                z-index: 10;
                width: 100%;
                padding: 10px;

                h2 {
                    text-align: center;
                    padding: (_size(element-margin) * 3) 0 (_size(element-margin) * 1) 0;
                    margin: 0!important;
                }

                >h3 {
                    padding: 10px;
                }
            }
        }

        &.featured {
            position: relative;
            text-align: center;
            padding: 0;

            a {
                display: block;
                width: 100%;
                height: auto;
            }

            p{
                @include padding((_size(padding) * 2), (_size(padding) * 2));
            }

            ul.actions {
                margin-bottom: 0;
                @include padding((_size(padding) * 1), (_size(padding) * 1));
                li {
                    margin-bottom: 0;
                    padding: 0 0 (_size(element-margin) * 1) 0;
                }
            }
        }



        @include breakpoint('<=large') {
            @include padding((_size(padding) * 3), (_size(padding) * 2));
            &.featured p {
                @include padding((_size(padding) * 2), (_size(padding) * 2));
            }
        }

        @include breakpoint('<=small') {
            @include padding((_size(padding) * 2), (_size(padding) * 1));
            &.featured p {
                @include padding((_size(padding) * 0.5), (_size(padding) * 1));
            }

            header {
                &.major {
                    >.date {
                        margin-top: -1rem;
                        margin-bottom: _size(element-margin);
                    }

                    >h1,
                    h2 {
                        font-size: 2.5rem;
                        line-height: 1.2;
                        margin: 0 0 (_size(element-margin) * 0.75) 0;
                    }
                }
            }
        }
    }

    .posts {
        background-color: _palette(bg);
        @include fixed-grid((columns: 2, gutters: (_size(padding) * 4), horizontal-align: center, vertical-align: flex-start, flush: false));
        width: 100%;
        padding: 0;

        >article {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            border-color: _palette(border);
            border-left-width: 2px;
            border-style: solid;
            border-top-width: 2px;
            text-align: center;

            > :last-child {
                margin-bottom: 0;
            }

            &:nth-child(2n - 1) {
                border-left-width: 0;
            }

            &:nth-child(-n + 2) {
                border-top-width: 0;
            }
        }

        // &.pages {
        //     article{
        //         &:nth-child(2n + 0){
        //             background-color: red;
        //         }
        //     }
        // }

        @include breakpoint('<=medium') {
            @include fixed-grid-resize((columns: 2, gutters: (_size(padding) * 2.5), flush: false));
        }

        @include breakpoint('<=small') {
            @include fixed-grid-resize((columns: 1, gutters: (_size(padding) * 2), prev-columns: 2, flush: false));

            >article {
                &:nth-child(2n - 1) {
                    border-left-width: 2px;
                }

                &:nth-child(-n + 2) {
                    border-top-width: 2px;
                }

                &:nth-child(n) {
                    border-left-width: 0;
                }

                &:nth-child(-n + 1) {
                    border-top-width: 0;
                }

                .image {
                    max-width: 25rem;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    @include breakpoint('<=medium') {
        margin: -6rem auto 0 auto;
    }

    // @include breakpoint('<=small') {
    //     >* {
    //         @include padding((_size(padding) * 1), (_size(padding) * 1));
    //     }
    // }

    @include breakpoint('<=xsmall') {
        width: 100%;
    }
}