// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

p{
    &:after{
        display: table;
        content: '';
        clear: both;
    }
}